---
layout: default
title: Classmates
---

<article class="classmates">
    <div class="row">

        <div class="col-12">
            <h1>{{ page.title }}</h1>

            {% for member in site.data.classmates %}
            {% cycle '<div class="row">', '', '', '', '', '' %}
                <div class="col-2 member">
                    <img src="{{ member.avatar_url }}" alt="Gravatar">
                    <h2>{{ member.name }}</h2>
                    <ul>
                        <li class="github"><span class="octicon octicon-mark-github"></span><a href="{{ member.github_url }}">{{ member.github_name }}</a></li>
                        {% if member.website != '' and member.website != nil %}
                            {% assign website_url = member.website %}
                            {% unless website_url contains 'http://' or website_url contains 'https://' %}
                                {% assign website_url = website_url | prepend:'http://' %}
                            {% endunless %}
                            <li class="homepage"><span class="octicon octicon-link"></span><a href="{{ website_url }}">{{ website_url | replace_first:'http://','' | replace_first:'https://','' }}</a></li>
                        {% endif %}
                        {% if member.location != '' and member.location != nil %}
                            <li class="location"><span class="octicon octicon-location"></span>{{ member.location }}</li>
                        {% endif %}
                    </ul>
                </div>
            {% cycle '', '', '', '', '', '</div>' %}
            {% endfor %}
        </div>

    </div>
</article>
