---
layout: default
title: Links | UWaterloo Software Engineering Class of 2016
---

<article class="links">

    <div class="row">
        <section class="col-12">
            <h1>Useful Links</h1>
            <ul>
                {% for link in site.data.links %}
                <li>
                    <a href="http://{{ link.url }}">
                        <strong>{{ link.name }}</strong>
                        <span>{{ link.url }}</span>
                        <p>{{ link.desc }}</p>
                    </a>
                </li>    
                {% endfor %}
            </ul>
        </section>
    </div>

    <div class="row">
        <section class="col-12">
            <h1>Student Sites</h1>
        </section>

        <section>
            <ul>
                {% for contact in site.data.classmates %}
                <li class="col-4">
                    <a href="http://{{ contact.homepage }}">
                        <strong>{{ contact.name }}</strong>
                        <span>{{ contact.homepage }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>

</article>