---
layout: default
title: Links
---

<article class="links">


    {% for category in site.data.links %}
    {% cycle '<div class="row">', '' %}
        <section class="col-6">
            <h1>{{ category.category }}</h1>
            <ul>
                {% for link in category.links %}
                <li>
                    <a href="{{ link.url }}">
                        <h2>{{ link.name }}</h2>
                        {% if link.desc != nil %}
                            <span class="link-desc">{{ link.desc }}</span>
                        {% endif %}
                        <span class="link-url">{{ link.url }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% cycle '', '</div>' %}
    {% endfor %}


    </div>

</article>
