---
layout: default
title: Schedule
---

<article class="schedule">
    <div class="row">
        {% raw  %}
        <section class="col-12" id="schedule-builder" ng-app="ScheduleBuilder" ng-controller="ScheduleBuilderController">
            <h1>Schedule</h1>
            <noscript>
                JavaScript is Required
            </noscript>
            <table>
                <tr ng-repeat="term in schedule">
                    <td ng-switch="term.season">
                        <strong>{{ term.name }}</strong>
                        <span ng-switch-when="0">Winter</span>
                        <span ng-switch-when="1">Spring</span>
                        <span ng-switch-when="2">Fall</span>
                    </td>
                    <td ng-repeat="course in term.requiredCourses">
                        <strong>{{ course.department }} {{ course.code }}</strong>
                        <span>{{ course.name }}</span>
                    </td>
                    <td class="elective" ng-repeat="elective in term.electives">
                        <input
                            type="text"
                            placeholder="Elective"
                            autocomplete="off"
                            ng-model="term.electives[$index].value"
                            typeahead="elective as (elective.code) for elective in electives | filter:$viewValue"
                            typeahead-on-select="saveSchedule()"
                            typeahead-template-url="/assets/templates/course.html" />
                        <span>{{ term.electives[$index].value.name }}</span>
                    </td>
                    <td class="inactive" ng-repeat="i in [] | range:(6 - term.requiredCourses.length - term.electives.length)">
                    </td>
                </tr>
            </table>
        </section>
        {% endraw %}
    </div>

    <div class="row">
        <section class="col-12">
            <h1>Electives</h1>
            <p>You have to take the required number of electives from each of the following categories as indicated by parenthesis. It is recommended that you plan for your Advanced Technical Electives (ATE) ahead of time because some of them are only offered at specific terms.</p>
        </section>
    </div>

    {% for category in site.data.electives %}
    {% cycle '<div class="row">', '' %}
        <aside class="col-6">
            <h2>{{ category.category }} ({{ category.numberRequired }})</h2>
            {% if category.notes != null %}
                <p>{{ category.notes }}</p>
            {% endif %}
            <table>
                {% for course in category.electives %}
                <tr>
                    <td class="course-code">{{ course.department }} {{ course.code }}</td>
                    <td class="course-title">{{ course.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </aside>
    {% cycle '', '</div>' %}
    {% endfor %}

</article>

<script>
var electives = [
    {% for category in site.data.electives %}
        {% for course in category.electives %}
        {
            code: "{{ course.department }} {{ course.code }}",
            name: "{{ course.name }}"
        },
        {% endfor %}
    {% endfor %}
];

var schedule = [
    {% for term in site.data.courses reversed %}
    {
        name: "{{ term.name }}",
        season: {{ term.season }},
        numberOfElectives: {{ term.numberOfElectives }},
        requiredCourses: [
            {% for course in term.requiredCourses %}
            {
                department: "{{ course.department }}",
                code: "{{ course.code }}",
                name: "{{ course.name }}"
            },
            {% endfor %}
        ]
    },
    {% endfor %}
];
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
<script src="/assets/js/app.js"></script>
