@grid-width:    1220px;
@mobile-width:  960px;

@text-color:    #333;
@blue:          #44749D;
@grey:          rgb(155,161,168);
@border-color:  #eee;
@border:        1px solid @border-color;

@import 'normalize.less';
@import 'onepcssgrid.less';

//------------------------------------------------------------------------------- Common classes

body{
    color:@text-color;
    font-size:1em;
    line-height:2em;
}

//------------------------------------------------------------------------------- Menu

.menu{
    border-bottom:@border;

    ul{
        margin:0;

        li{

            a{
                background-repeat:no-repeat;
                background-position:center 50px;
                display:block;
                color:@text-color;
                font-weight:bold;
                outline:none;
                padding:134px 0 30px;
                text-align:center;
                text-decoration:none;
                transition:1s;

                &.home{
                    background-image:url(../img/home.png);
                }

                &.schedule{
                    background-image:url(../img/schedule.png);
                }

                &.links{
                    background-image:url(../img/links.png);
                }

                &:hover{
                    background-color:@border-color;
                }
            }
        }
    }
}

.content{
    margin:40px 0;
}

.copyright{
    border-top:@border;

    p{
        color:@grey;
        font-size:13px;
        padding:20px 0;
        text-align:center;
    }
}

//------------------------------------------------------------------------------- Homepage

.intro{
    margin-top:80px;
    margin-bottom:80px;

    h1.inseption{
        background:no-repeat center;
        background-size:100% auto;
        background-image:url(../img/inseption.png);
        background-image:url(../img/inseption.svg);
        margin:0 auto 40px;
        width:100%; height:80px;
        text-indent:-9999px;
    }
    
    h2{
        color:rgb(155,161,168);
        margin:0;
        text-align:center;
    }
}

//------------------------------------------------------------------------------- Links

.links{
    ul{
        list-style:none;
        padding:0;

        li{
            border-top:@border;

            &:last-child{
                border-bottom:@border;
            }

            a{
                display:block;
                padding:20px 40px;
                text-decoration:none;
                transition:1s;

                strong,
                em,
                p{
                    color:lighten(@text-color, 30%);
                    display:block;
                    transition:1s;
                }

                strong{
                    font-size:24px;
                    margin-bottom:5px;
                }

                em{
                    font-size:13px;
                    font-style:normal;
                    line-height:1em;
                }

                p{
                    margin:10px 0 0;
                }
                
                &:hover{
                    background:@border-color;

                    strong,
                    p{
                        color:@text-color;
                    }
                }
            }
        }
    }
}