<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/css/main.css">
    <!--
    <link rel="stylesheet/less" href="/assets/less/main.less">
    <script type="text/javascript" src="/assets/js/libs/less-1.5.0.js"></script>
     -->
</head>
<body>

<header class="menu">
    <nav class="grid">
        <ul class="row">
            <li class="col-3">
                <a href="/" class="menu-icon icon-home">
                    Home
                </a>
            </li>
            <li class="col-3">
                <a href="/schedule.html" class="menu-icon icon-schedule">
                    Courses
                </a>
            </li>
            <li class="col-3">
                <a href="/links.html" class="menu-icon icon-links">
                    Links
                </a>
            </li>
            <li class="col-3">
                <a href="/classmates.html" class="menu-icon icon-classmates">
                    Classmates
                </a>
            </li>
        </ul>
    </nav>
</header>

<div class="grid">
    {{ content }}
</div>

<footer class="copyright grid">
    <div class="row">
        <div class="col-12">
            <p>Copyright &copy; 2013&mdash;2014 &nbsp;<a href="/">{{ site.url }}</a>&nbsp; All Rights Reserved</p>
        </div>
    </div>
</footer>

</body>
</html>