<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    
    <!-- 
    <link rel="stylesheet" href="/assets/css/main.css">
     -->
    <link rel="stylesheet/less" href="/assets/less/main.less">
    <script type="text/javascript" src="/assets/js/less.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/html5.js"></script>
    <![endif]-->
</head>
<body>

<header class="menu">
    <nav class="grid">
        <ul class="row">
            <li class="col-4">
                <a href="/" class="home">Home</a>
            </li>
            <li class="col-4">
                <a href="/schedule.html" class="schedule">Schedule</a>
            </li>
            <li class="col-4">
                <a href="/links.html" class="links">Links</a>
            </li>
        </ul>
    </nav>
</header>

<div class="content">
    {{ content }}
</div>

<footer class="copyright">
    <div class="grid">
        <p class="col-12">&copy; 2013 www.se2016.com</p>
    </div>
</footer>

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>